.page-margin-handler {
  max-width: 1010px;
  margin: auto;
  padding: 0 20px;
}

.info-tbl {
  .topic {
    font-weight: bold;
  }
  .value-gap {
    padding-left: 20px;
  }
}

.user-search-option {
  .option-container {
    display: flex;
    .topic {
      font-weight: bold;
      font-size: 15px;
    }
    .description {
      color: gray;
      font-size: 13px;
    }
  }

}

