.tooltip-custom-1 {
  .ant-tooltip-content {
    width: 200px!important;
    height: 200px!important;
  }
}

.text-middle {
  height: 100%;
  line-height: 100%;
  text-align: center;
}

@media screen and (max-width: 998px) {
  .ww {
    justify-content: center;
  }
}

.text-fix-data {
  width: 100%;
  min-height: 100%;
  background: #EEEEEE;
  color: black;
  padding: 10px;
  border-radius: 3px;
}
